body {
    margin: 0;
    padding: 0;
    font-family: arial;
}
ul {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;

}
ul li {
    list-style: none;
    padding: 10px 20px;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
    position: relative;
}
ul li a:before{
    position: absolute;
    content: '';
    width: 0px;
    height: 3px;
    background: #00bcd4;
    top: 120%;
    left: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;

}
ul li a:after{
    position: absolute;
    content: '';
    width: 0px;
    height: 3px;
    background: #f0f;
    top: 120%;
    right: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;

}
ul li:hover a:before{
    width: 50%;
    transform: translateX(100%);
}
ul li:hover a:after{
    width: 50%;
    transform: translateX(-100%);
}


